.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.tp-card {
  max-width: 30% ;
  margin-top:0;
  margin-right:auto;
  margin-bottom:0;
  margin-left:auto;
}
